beautifulsoup4==4.3.2
Django==1.6.5
django-annoying==0.8.1
django-appconf==1.0.1
django-ckeditor==4.4.7
django-contrib-comments==1.5
django-disqus==0.5
django-evolution==0.6.9
django-m2m-history==0.3.1
django-mptt==0.6.1
django-oauth-tokens==0.5.0
django-picklefield==0.3.1
django-staticfiles==1.2.1
django-tagging==0.3.4
django-taggit==0.12.3
django-xmlrpc==0.1.5
extend-me==1.1.2
mock==1.0.1
mots-vides==2015.2.6
MySQL-python==1.2.4b4
oauthlib==0.7.2
Pillow==2.5.3
pyparsing==2.0.3
python-dateutil==1.5
pytz==2015.2
requests==2.6.0
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.9.0
sorl-thumbnail==11.12
virtualenv==1.11.6
