{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!--<meta charset="utf-8">-->
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
	<meta name="keywords" content={% block meta_keywords %}Татуаж цены, татуаж бровей, татуаж век, татуаж недорого, татуаж губ, в Киеве, мастер татуажа.{% endblock %}/>
	<meta name="description" content={% block meta_description %}Татуаж глаз, век, губ и бровей в Киеве недорого.{% endblock %}/>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block libs %}
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:100&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/style.css' %}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style_for_pop_up.css' %}" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'fancybox/source/jquery.fancybox.css?v=2.1.5' %}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style_for_pop_up.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}" />
		
		
		<link rel="shortcut icon" type="image/ico" href="{% static 'images/icons/favicon.ico' %}" />
		
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			<![endif]-->
	{% endblock %}	
</head>
<body>

<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
			<span class="sr-only">Меню сайта</span>
			<span class="icon-bar"></span> 
			<span class="icon-bar"></span> 
			<span class="icon-bar"></span> </button>
        <a href="/"><img src="{% static 'images/logo.png' %}" height="100px" class="logo" alt="Анна Кара татуаж лого"></a>
      </div>
		
{% block menu %}
		<!-- Collect the nav links, forms, and other content for toggling 
		second_item third_item forth_item five_item six_item-->
		<div class="navbar-right navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto; margin-top: 3%;">
			<ul class="nav navbar-nav">
			{% for menu_item in menu.top.items %}
				{% ifequal request.get_full_path menu_item.url %}
					<li class="active">
					<a href="{{ menu_item.url }}">{{ menu_item.name }}</a></li>
				
				{% else %}
				
				<!--sub menu -->
				{% ifequal menu_item.url "#" %}							
					<li class="dropdown"> 
					<a href="{{ menu_item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.name }}</a>
						<ul class="dropdown-menu">
						  {% for sub_menu_item in menu.submenu.items %}
						  <li><a href="{{ sub_menu_item.url }}">{{ sub_menu_item.name }}</a></li>
						  {% endfor %}
						</ul>
					</li>
				{% else %}				
				<!--sub menu -->							
					<li>					
					<a href="{{ menu_item.url }}">{{ menu_item.name }}</a></li>								
				{% endifequal %}
			{% endifequal %}
			{% endfor %}
			</ul>
		</div>
			  <!--
			  <div class="navbar-right navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto;">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="{{ first_item }}">главная</a></li>
				  <li class="dropdown"> <a href="{{ second_item }}" class="dropdown-toggle" data-toggle="dropdown">Статьи</a>
					<ul class="dropdown-menu">
					  <li><a href="#">статья 1</a></li>
					  <li><a href="#">статья 2</a></li>
					</ul>
				  </li>
				  <li><a href="{{ third_item }}">фото</a></li>
				  <li><a href="{{ forth_item }}">цены</a></li>
				  <li><a href="{{ five_item }} ">контакты</a></li>
				</ul>
			  </div>-->
			  <!-- /.navbar-collapse -->
{% endblock %}
    </nav>
  </div>
</header>


{% block slider %}
<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"> <img data-src="images/slider/slider1.jpg" alt="First slide" src="{% static 'images/slider/slider1.jpg' %} ">
        <div class="container">
          <div class="carousel-caption">
            <h4>Татуаж <span>бровей</span></h4>
            <p>Перманентный макияж бровей</p>
            <p><a class="btn btn-primary modalbox" href="#inline" role="button">Консультация</a><a class="btn btn-default" href="uslugi/#tatuazh-brovei" role="button">Подробнее</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/slider2.jpg" alt="Second slide" src="{% static 'images/slider/slider2.jpg' %}">
        <div class="container">
          <div class="carousel-caption">
            <h4>Татуаж <span>век</span> глаз</h4>
            <p>Перманентный макияж глаз</p>
            <p><a class="btn btn-primary modalbox" href="#inline" role="button">Консультация</a><a class="btn btn-default" href="uslugi/#tatuazh-vek" role="button">Подробнее</a></p>
          </div>
        </div>
      </div>
      <div class="item"> <img data-src="images/slider/slider3.jpg" alt="First slide" src="{% static 'images/slider/slider3.jpg' %}">
        <div class="container">
          <div class="carousel-caption">
            <h4><span>Татуаж</span> губ</h4>
            <p>Перманентный макияж губ</p>
            <p><a class="btn btn-primary modalbox" href="#inline" role="button">Консультация</a><a class="btn btn-default" href="uslugi/#tatuazh-gub" role="button">Подробнее</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="index.html#myCarousel" data-slide="prev">
		<span class="glyphicon carousel-control-left"></span>
	</a> 
		<a class="right carousel-control" href="index.html#myCarousel" data-slide="next">
		<span class="glyphicon carousel-control-right"></span>
	</a> 
	</div>
</section>
{% endblock %}
	
{% block content %}{% endblock %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>О нас</h3>
		<p>Это персональный сайт мастера перманентного макияжа, Анны Кара.
		<br>
		Если у вас есть какие-либо вопросы о продуктах или услугах, пожалуйста, не стесняйтесь обращаться к нам. У нас есть целых семь дней в неделю, чтобы помочь вам.
		</p>
		</div>
      <div class="col-md-3">
        <h3>Вконтакте</h3>			
				<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
				<div id="vk_group_with_friends"></div>
				<script type="text/javascript">
					VK.Widgets.Group("vk_group_with_friends", {mode: 0, width: "195", height: "241", color1: 'FFFFFF', color2: '2B587A', color3: '#e66a06'}, 48361848);
				</script>
				<div id="vk_group_with_name"></div>
				<script type="text/javascript">
					VK.Widgets.Group("vk_group_with_name", {mode: 1, width: "100", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: 'e66a06'}, 48361848);
				</script>
      </div>
      <div class="col-md-3">
        <h3>Звонок</h3>
        <p>Введите свои данные, чтобы мы смогли Вам перезвонить</p>
		<p id="footer_feedback"></p>
        <form role="form" id="footer_form" name="footer_form" method="post" action="" class="footer_form">            
			<div class="form-group">
				<input required="" type="text" class="form-control" id="user_footer_name" name="user_footer_name" placeholder="Ваше имя: *" />
			</div>
			<div class="form-group">
				<input name = "phone" required type="text" id="user_footer_phone" class="form-control" placeholder="Ваш телефон: *" title="Формат: (096) 999 99 99" />
			</div>
			<input id="submit-footer-button" type="submit" class="btn btn-primary" value="Отправить">
		</form>
      </div>
      <div class="col-md-3">
        <h3>Контакты</h3>
        <p>ул. Гарматная 47<br>
          г. Киев, 03058<br>
          Украина<br>
          <br>
          (097) 916-3480<br>
          <br>
        </p>
        <!--
		<div class="social__icons"> 
			<a href="https://vk.com/tatuazh.kiev" class="socialicon socialicon-vk" target="_blank"></a> 
			<a href="https://vk.com/tatuazh.kiev" class="socialicon socialicon-facebook" target="_blank"></a> 
			<a href="https://vk.com/tatuazh.kiev" class="socialicon socialicon-google" target="_blank"></a> 
		</div>
		-->
	  </div>
    </div>
    <hr>
    <p class="text-center">© Copyright Anna Kara Company. All Rights Reserved.</p>
  </div>
</footer>

{% block add_libs %}
	
	<script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.js?v=2.1.5' %}"></script>
	<script type="text/javascript" src="{% static 'js/pop-up.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/script.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'js/jquery/jquery.maskedinput.min.js' %}"></script>
		
	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		jQuery(function($){	   
		   $("#user_phone").mask("(999) 999-9999");
		});
		jQuery(function($){	   
		   $("#user_footer_phone").mask("(999) 999-9999");
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			//Check to see if the window is top if not then display button
			$(window).scroll(function(){
				if ($(this).scrollTop() > 700) {
					$('.scrollToTop').fadeIn();
				} else {
					$('.scrollToTop').fadeOut();
				}
			});
		 
			//Click event to scroll to top
			$('.scrollToTop').click(function(){
				$('html, body').animate({scrollTop : 0},800);
				return false;
			});
		 
		});
	</script>
	
	<script type="text/javascript">
		function send_form_from_footer() {
			var data1 = $('#user_footer_name').val();
			var data2 = $('#user_footer_phone').val();
		$.ajax({
		type: "POST",
		url: "/xhr_test",
		dataType : "json",
		data: ( {"name" : data1, "phone" : data2} ) ,
		   success: function() {
						   
		   },
					   complete: function(){
							$('#footer_feedback').append('<p>Спасибо за отправку нам сообщения. Наши специалисты свяжутся с Вами как можно скорее.</p><p>Детали вашего сообщения ниже:</p>\n\
							<ul>\n\
								<li>Имя: <b>' + data1 + '</b></li>\n\
								<li>Телефон: <b>' + data2 + '</b></li>\n\
							</ul>\n\
							<p>Если вы хотите изменить информацию нажмите кнопку:\n\
							<p><a href="#" id="send-more-footer" class="btn btn-primary">Изменить сообщение</a></p>');
							$('#footer_form').slideUp();
							$('#send-more-footer').click(function(e){
								e.preventDefault()
								$('#footer_form').slideDown();
								$('#footer_feedback').html('');
							});
					   }
		});
		}
		$('#footer_form').submit(function() {
			send_form_from_footer();
			return false;
		});
	</script>
{% endblock %}

<a href="#" class="scrollToTop"></a>

		<!-- hidden inline form -->
		<div id="inline">
			<div class="comment">
			<h3>Оставьте <span>заявку</span></h3>
			<h3>и мы вам перезвоним.</h3>
			</div>
		<br>
			<form role="form" id="contact" name="contact" action="" method="post" class="phone_form">
					{% csrf_token %}
						<label for="name">Ваше имя:</label>
						<input name="name" required type="text" id="name" class="txt form-control" placeholder="Ваше имя: *" autofocus="autofocus">
					<br>
					<div class="user_phone">
						<label for="user_phone">Телефон:</label>
						<input name= "phone" required type="text" id="user_phone" class="form-control" placeholder="Ваш телефон: *" title="Формат: (096) 999 99 99" />
					</div>
					<br>
					<input id="send" class="btn btn-primary" type="submit" value="Отправить">					
			</form>
		</div>
		<!-- hidden inline form -->
</body></html>