{% extends "base.html" %}
{% load static %}
{% block meta_keywords %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_keywords }}"
{% endblock %}

{% block meta_description %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_description }}"
{% endblock %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}
<section class="slider">
    <!-- Indicators -->
		<div class="banner">
			<div class="container">
				<div class="present">
					<h1>Skype школа по изучению английского и других иностранных языков</h1>
					<p class="sub-header">Нет времени на посещение языковых курсов, мы организуем для Вас индивидуальные занятия по скайпу</p>
					<div class="gorizont_form">
						<div class="gift-title">
							<p>Запишитесь на БЕСПЛАТНОЕ пробное занятие прямо сейчас!</p>
							<!--<img class="gift" alt="" src="{% static 'images/icons/gift.png' %}">-->
						</div>
						<form class="contactform" method="post" action="../php/send.php" metrika-actions="all2">
							<div class="name fl">
								<label>Введите Ваше имя:</label>
								<br>
								<input class="validate[required]" type="text" placeholder="Иван" name="name">
							</div>
							<div class="mail fl">
								<label>Введите e-mail:</label>
								<br>
								<input class="validate[required,custom[email]]" type="text" placeholder="Ivanov@ivan.ua" name="email">
							</div>
							<div class="telephone fl">
								<label>Введите телефон:</label>
								<br>
								<input class="validate[required]" type="text" maxlength="20" placeholder="89081051666" name="phone">
							</div>
							<div class="button">
								<button class="small-bt btn btn-info btn-lg" type="submit"><p>Запишитесь</p></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	<!--</div>-->
</section>
{% endblock %}

{% block content %}
<section class="main__middle__container homepage13">
    <div class="row text-center no-margin nothing">
		<div class="container">
			<eggs>
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_5.png' %}">
					<div class="desc">
					<p>Квалифицированные преподаватели</p>
					Каждый преподаватель проходит тестирование от специалистов нашей платфорты</div>
				</div>
				
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_2.png' %}">
					<div class="desc">
					<p>Более 2000 учеников</p>
					<p>Более 2000 ученико уже нашли своего ппреподавателя используя нашу платформу</p>
					</div>
				</div>
				
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_3.png' %}">
					<div class="desc">
					<p>Широкий спектр программ обучения</p>
					<p>Разговорный, грамматика, бизнес, подготовка к TOFEL, IELTIS</p>
					</div>
				</div>
				
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_4.png' %}">
					<div class="desc">
					<p>Гибкий график</p>
					<p>Вы сами строите свой график занятий</p>
					</div>
				</div>
				
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_6.png' %}">
					<div class="desc">
					<p>Гарантия возврата денег</p>
					<p>Если занятия не состоялись или Вам не подошел репетитор, мы гарантируем возврат ваших средств</p>
					</div>
				</div>
				
				<div class="col-xs-4 egg">
					<img class="img-responsive" alt="" src="{% static 'images/eggs/egg_1.png' %}">
					<div class="desc">
					<p>Выгодные цены</p>
					<p>На много дешевле чем языковые курсы</p>
					</div>
				</div>

			</eggs>
		</div>
	</div>
	
    <div class="row  three__blocks text-center no_padding no-margin">
        <div class="container">
            <h2>Цены на занятия с репетитором</h2>
            <span class="separator"></span>
            <p class="small-paragraph">Чтобы узнать все цены на занятия перейдите по <a href="/">этой ссылке.</a></p>
            <div class="col-md-4 img-rounded"> 
                <h3><a href="/">95 грн.</a></h3>
                <p>1 занятие</p>
				<p class="smaller"><br></p>
                <ul>
					<li>Обучение разговорного английского языка. </li>
					<li>Занятие длится 45 минут. </li>
				</ul>
				<p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#" role="button">Заказать</a>
                </p>
            </div>
            <div class="col-md-4 img-rounded middle"> 
				<!--<img src="{% static 'images/img2.jpg' %}" alt="image" class="img-responsive img-rounded">-->
                <h3><a href="/">1700 грн.</a></h3>
                <p>20 занятий</p>
				<p class="smaller">Экономия 200 грн.</p>
                <ul>
					<li>Обучение разговорного английского языка. </li>
					<li>Занятие длится 45 минут. </li>
				</ul>
                <p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#" role="button">Заказать</a>
                </p>
            </div>
            <div class="col-md-4 img-rounded">		
				<!--<img src="{% static 'images/img3.jpg' %}" alt="image" class="img-responsive img-rounded">-->
                <h3><a href="/">900 грн.</a></h3>
				<p>10 занятий</p>
				<p class="smaller">экономия 50 грн.</p>
                <ul>
					<li>Обучение разговорного английского языка. </li>
					<li>Занятие длится 45 минут. </li>
				</ul>
                <p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#" role="button">Заказать</a>
                </p>
            </div>
        </div>
		<hr>
		<div class="container">
			<!--TODO-->
		</div>
    </div>
	
	
	
    <div class="text-center three-blocks">
        <div class="container">
            <div class="row white__heading">
                <h2>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi Sed arcu. Cras consequat.</h2>
                <p class="little">Richard Johnson</p>
                <p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#">read more</a></p>
            </div>
        </div>
    </div>
    <div class="row  three__blocks text-center no_padding no-margin">
        <div class="container">
            <h2>WHAT WE DO</h2>
            <span class="separator"></span>
            <p class="small-paragraph">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
            <div class="col-md-6 img-rounded"> 
				<img src="{% static 'images/pic1.jpg' %}" alt="pic" class="img-rounded img-responsive">
                <h3>Commodo id natoque malesuada sollicitudin elit suscipit.</h3>
                <p class="smaller">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <p><a href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#" class="btn btn-info btn-lg">Learn more</a></p>
            </div>
            <div class="col-md-6 img-rounded"> 
				<img src="{% static 'images/pic2.jpg' %}" alt="pic" class="img-rounded img-responsive">
                <h3>Aliquam luctus et mattis lectus Nam nec turpis consequat.</h3>
                <p class="smaller">Praesent semper mod quis eget mi. Etiam eu ante risus.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                <p><a href="http://www.htmlpreviews.com/cloud/education/inition7/index.html#" class="btn btn-info btn-lg">Learn more</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript">
		$('.carousel').carousel({
		  interval: 3500, // in milliseconds
		  pause: 'true' // set to 'true' to pause slider on mouse hover
		})
	</script>
{% endblock %}